<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.symbol.emdk.permission.EMDK" />

    <!-- EMDK is a Zebra system library; required=false allows install on non-Zebra devices -->
    <uses-library android:name="com.symbol.emdk" android:required="false" />

    <application
        android:name=".StoreLenseApp"
        android:label="@string/app_name"
        android:theme="@style/Theme.StoreLense"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="false"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Disable default WorkManager init so Hilt can provide the factory -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                tools:node="remove" />
        </provider>

    </application>
</manifest>
